<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Página de Eventos</title>
    <style>
        .search-bar {
            display: flex;
            margin-bottom: 20px;
        }

            .search-bar input[type="text"] {
            flex: 1;
            padding: 5px;
            border: 1px solid #de0d0d;
        }

            .search-bar button {
            padding: 5px 10px;
            border: 1px solid #007bff;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>
<body>
  <div class="BarraNavegacao">
    <div class="logo"><a href="/"><img src="{% static 'Logo.png' %}"></div>
    <ul>
      <a href="/eventos" class="btn-evento btn-branco">Eventos</a>
      <a href="/doacao" class="btn-doacao btn-branco">Doações</a>
      <a href="/parcerias" class="btn-parceria btn-branco">Parcerias</a>
      {% if not user.is_authenticated %}
      <a href="/login" class="btn-login btn-branco">Entrar</a>
      <a href="/registro" class="btn-registar btn-branco">Registrar-se</a>
      {% endif %}
      {% if user.is_authenticated %}
      <button id="usuario-btn">{{ user.username }}</button>
      <div id="usuario-menu" style="display: none;">
        <a href="{% url 'meus_dados' %}">Meus Dados</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
      {% endif %}
    </ul>
  </div>
    <script>
        function searchEvents() {
          const searchTerm = document.getElementById('searchBarInput').value.toLowerCase();
          const eventCards = document.querySelectorAll('.card');
      
          for (const eventCard of eventCards) {
            const eventName = eventCard.querySelector('h2').textContent.toLowerCase();
            const eventDate = eventCard.querySelector('p strong').textContent.toLowerCase();
      
            if (eventName.includes(searchTerm) || eventDate.includes(searchTerm)) {
              eventCard.style.display = 'block';
            } else {
              eventCard.style.display = 'none';
            }
          }
        }
      </script>
</body>
</html>
