<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Página de Eventos</title>
    <style>
        .search-bar {
            display: flex;
            margin-bottom: 20px;
        }

            .search-bar input[type="text"] {
            flex: 1;
            padding: 5px;
            border: 1px solid #ccc;
        }

            .search-bar button {
            padding: 5px 10px;
            border: 1px solid #007bff;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div>
        <ul>
          <a href="/doacao" class="btn-doacao btn-white">Doações</a></li>
          <a href="/eventos" class="btn-evento btn-white">Eventos</a></li>
          <a href="/login" class="btn-login btn-white">Entrar</a></li>
          <a href="/registro" class="btn-registar btn-white">Resgistre-se</a></li>
          <a href="/parcerias" class="btn-parceria btn-white">Parcerias</a></li>
        </ul>
      <div class="tituloIndex">
        <a href="http://127.0.0.1:8000/"><h1>QUEM RESOLVE</h1></a> 
      </div>
    </div>
    <script>
        function searchEvents() {
          const searchTerm = document.getElementById('searchBarInput').value.toLowerCase();
          const eventCards = document.querySelectorAll('.card');
      
          for (const eventCard of eventCards) {
            const eventName = eventCard.querySelector('h2').textContent.toLowerCase();
            const eventDate = eventCard.querySelector('p strong').textContent.toLowerCase();
      
            if (eventName.includes(searchTerm) || eventDate.includes(searchTerm)) {
              eventCard.style.display = 'block';
            } else {
              eventCard.style.display = 'none';
            }
          }
        }
      </script>
</body>
</html>
