<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Galeria de Imagens</title>
</head>
<body>
    <div>
        <ul>
          <a href="/galeria" class="btn-galeria btn-white">Galeria</a></li>
          <a href="doacao.html" class="btn-doacao btn-white">Doações</a></li>
          <a href="/eventos" class="btn-sobre-nos btn-white">Eventos</a></li>
          <a href="/login" class="btn-login btn-white">Entrar</a></li>
          <a href="/registro" class="btn-registar btn-white">Resgistre-se</a></li>
          <a href="/parcerias" class="btn-parceria btn-white">Parcerias</a></li>
        </ul>
      <div class="tituloIndex">
        <a href="http://127.0.0.1:8000/"><h1>QUEM RESOLVE</h1></a> 
      </div>
    </div>
    <br><br><br>
    <h1>Galeria de Imagens</h1>
    <div class="container">
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 2">
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 3">
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
        </div>
    </div>
    <div class="container">
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 2">
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 3">
        </div>
        <div class="image-container">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
        </div>
    </div>