<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <style>
    .myDiv {
      background-image: url(static/foto_index.png);
      background-position: center;
      opacity: 90%;
    }
  </style>
</head>

<body>
  <div class="myDiv">
    <ul>
      <a href="doacao.html" class="btn-doacao btn-white">Doações</a></li>
      <a href="/eventos" class="btn-evento btn-white">Eventos</a></li>
      <a href="/login" class="btn-login btn-white">Entrar</a></li>
      <a href="/registro" class="btn-registar btn-white">Resgistre-se</a></li>
      <a href="/parcerias" class="btn-parceria btn-white">Parcerias</a></li>
    </ul>
    <div class="tituloIndex">
      <a href="http://127.0.0.1:8000/">
        <h1>QUEM RESOLVE</h1>
      </a>
    </div>
    <a href="#QS" class=btn-quem-somos><img src="static/seta.png" alt="Rolar para baixo" width="70px" height="70px"></a>
  </div>
  <h2 id="QS"> Quem somos</h2>
  <p> Uma pessoa que resolve é alguém que tem habilidade para solucionar problemas e lidar com situações desafiadoras de
    forma eficiente. Essa pessoa é caracterizada por ser proativa, ter iniciativa, ser organizada, ter senso de
    responsabilidade e ser capaz de trabalhar sob pressão. Além disso, uma pessoa que resolve também é alguém que sabe
    trabalhar em equipe, ouvir as opiniões dos outros e buscar soluções que sejam benéficas para todos os envolvidos. O
    mercado de trabalho valoriza muito profissionais que possuem essa característica, pois eles são capazes de trazer
    resultados positivos para as empresas e contribuir para o crescimento e desenvolvimento delas. É importante destacar
    que, para ser uma pessoa que resolve, é preciso ter uma postura positiva e estar sempre disposto a aprender e
    evoluir tanto pessoal como profissionalmente.
  </p>

</body>

</html>