body {
  font-family: sans-serif;
  font-weight: bold;
}

h1{
font-family:Verdana, Geneva, Tahoma, sans-serif; 
color: white;
margin-top: 25px;
margin-left: 50px;
}

.tituloIndex {
border: 2px outset rgb(8, 177, 255, 0.534);
background-color: rgba(8, 177, 255, 0.534);
height: 100px;
margin-left: -25px;
}

/* cor do botao  */
.btn-white {
background-color: #ffffff;
color: #969393;
}

/* cor do botão quando passa o mouse em cima */
.btn-white::after {
background-color: rgb(242, 242, 242);
}



/* botão eventos */

/* botão */
.btn-evento {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
left: 600px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: absolute;
margin-top: 25px;

}

/* cor do fundo quando o botão flutua */
.btn-evento:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-evento::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

/* movimento de expansão do botão */
.btn-evento:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}


/* botão parceria */

/* botão */
.btn-parceria {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
left: 780px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: absolute;
margin-top: 25px;

}

/* cor do fundo quando o botão flutua */
.btn-parceria:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-parceria::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

/* movimento de expansão do botão */
.btn-parceria:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}



/* botão doação  */

/* botão */
.btn-doacao {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
left: 410px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: absolute;
margin-top: 25px;

}

/* cor do fundo quando o botão flutua */
.btn-doacao:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-doacao::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

/* movimento de expansão do botão */
.btn-doacao:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}



/* botão login */

/* botão */
.btn-login {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
right: 230px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: absolute;
margin-top: 25px;
}

/* cor do fundo quando o botão flutua */
.btn-login:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-login::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

/* movimento de expansão do botão */
.btn-login:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}




/* botão resgistre-se */ 

/* botão */
.btn-registar {
text-transform: uppercase;
text-decoration: none;
padding: 15px 25px;
right: 50px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: absolute;
margin-top: 25px;

}

/* cor do fundo quando o botão flutua */
.btn-registar:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-registar::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

/* movimento de expansão do botão */
.btn-registar:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}



/* formulario geral de registro */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica, sans-serif;
color: #323232;
border: none;
}


input, label {
display: block;
outline: none;
width: 100%;
}

input:focus, label:focus{
outline: none;
}

a {
color: #5900ff
}


/* formulario */ 

#main-container {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 background-color: #FFF;
 border-radius: 10px;
 padding: 25px;

}

#main-container h1 {
text-align:center;
margin-left: -10px;
margin-bottom: 25px;
font-size: 25px;
}

form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.full-box {
flex: 1 1 100%;
position: relative;  
}

.half-box {
flex: 1 1 45%;
position: relative;
}

.spacing {
margin-right: 2.5%;
}

label{
font-weight: bold;
font-size: .8rem;
}


input{
border-bottom: 2px solid #302b2b;
padding: 10px;
font-size: .9rem;
margin-bottom: 40px;
}

input:focus{
border-color: rgba(8, 177, 255, 0.534);
}

input[type="submit"]{
background-color: rgba(8, 177, 255, 0.534);
color: #FFF;
border: none;
border-radius: 20px;
height: 40px;
cursor: pointer;
}

#agreement {
margin-right:5px;

}

#agreement, #agreement-label {
display: inline-block;
width: auto;
}

/* validações */

.error-validation {
color: #ff0800;
position: absolute;
top: 57px;
font-size: .8rem;
}

.template{
display: none;
}
/* Estilos para o card geral */
.card {
border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin: 10px;
padding: 10px;
background-color: #fff;
}

/* Estilos para o cabeçalho do card */
.card-header {
background-color: #00a2ff;
color: #fff;
padding: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

/* Estilos para o corpo do card */
.card-body {
padding: 10px;
}

/* Estilos para o título do organizador */
.card h2 {
font-size: 20px;
margin: 0;
}

/* Estilos para a data */
.card p {
margin: 5px 0;
}



/* Botão rolar pra quem somos */


.btn-quem-somos{
background-color: rgba(251, 253, 254, 0.377);
background-image: none;
display: inline-block;
cursor: pointer;
margin-top: 750px;
margin-left: 920px;
border-radius: 50%;
padding: 10px;
}